#
# Copy to env.list and DO NOT commit that file to version control.
#

APP_NAME=myapp
CONTAINER_PORT=3000
DOCKER_TAG=myapp:latest

AWS_PROFILE=
AWS_REGION=
ECR_HOST=

ECS_CLUSTER=
ECS_SUBNET=
ECS_SECURITY_GROUP=
ECS_SERVICE=

ECS_WEBAPP_TASK_COUNT=2
